# PyCharm
.idea/

# local .fabricrc
.fabricrc

# python
.venv/
venv/
*.pyc

# QGIS-Plugin-CI
qgis_logger.*.zip

# Mac stuff
.DS_Store

factory.manifest

.lizcloud/build
.cache
.local
.pytest_cache
__output__
__pycache__
qgs_server.log
